
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

$primary-soft-blue: hsl(231, 69%, 60%);
$primary-soft-red: hsl(0, 94%, 66%);
$neutral-grayish-blue: hsl(229, 8%, 60%);
$neutral-very-dark-blue: hsl(229, 31%, 21%);
$nav-active: rgba(37,43,70, 0.6);
$whitesmoke: #f5f5f5;
$font-family: 'Rubik', sans-serif;
$font-size: 18px;

